/* Estado inicial */
.WelcomeProfile__init {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: 0;
    border: 7px solid var(--neutral-yellow) ;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Contenedor de Información */
.WelcomeProfile__container {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--neutral-yellow);
    transition: background-color 0.5s ease-in-out, 
                width 0.5s ease-in-out 0.7s, 
                height 0.5s ease-in-out 1.2s;
}


/* Data */
.WelcomeProfile__container .Data{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; /* Animación */
}

/* Left */
.Data .left__container {
    width: 40%;
    height: 100%;
    gap: 20px;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__container .img{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid white;
    object-position: center 20%;
}

.left__container .name{
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/*Right */
.Data .right__container {
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}    

.right__container .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    line-height: 2;
    gap: 30px;
}

.text .hello{
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.text ul{
    width: 80%;
    font-size: 1rem;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}


/* Media Queries */
/* Para dispositivos con ancho máximo de 480px */
@media (width < 900px ) {
    .WelcomeProfile__init {
        min-width: 50px;
        min-height: 50px;
    }

    .WelcomeProfile__container {
        width: 80%;
        height: 80%;
        background-color: 0;
    }

    .WelcomeProfile__container .Data{
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 0;
    }

    .Data .left__container{
        width: 100%;
        height: 40%;
        gap: 10px;
    }


    .left__container .img img{
        width: 150px;
        height: 150px;
    }

    .left__container .name{
        font-size: medium;
    }

    .Data .right__container{
        width: 100%;
        height: 60%;
    }

    .right__container .text{
        justify-content: center;
    }

    .right__container .text .hello{
        font-size: 1.2rem;
        text-align: center;

    }
    .right__container .text ul{
        font-size: 0.7rem;
    }
}

/* Animación de aparición */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}